* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f9f3ee;
  /* color: #222; */
}
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 1rem 3rem;
  background-color: #f9f3ee;
  border-bottom: 2px solid #c1bab8;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar .logo img {
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 0.2rem;
}

#hamburger {
  display: none;
  cursor: pointer;
}
#hamburger div {
  width: 30px;
  height: 4px;
  background-color: rgb(39, 37, 37);
  margin: 6px 0;
}

#nav-links {
  /* background: #a7795b; */
  /* border: 2px solid black;/ */
  width: 100%;
  display: grid;
  grid-template-columns: minmax(auto, 1fr) repeat(6, 1fr);
  list-style: none;
  gap: 3rem;
  align-items: center;
}

#nav-links a {
  /* border: 2px solid black; */
  text-decoration: none;
  color: #273440;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s, font-size 0.3s;
}

#nav-links a:hover {
  font-size: 1.1rem;
  border-bottom: 2px solid #273440;
}
#nav-links .signup{
  text-align: center;
}
#nav-links .signup a {
  width: 5rem;
  /* border: 2px solid red; */
  border-radius: 2rem;
  display:inline-block;
  padding: 0.5rem 0.6rem;
  background: #000;
  color: #f9f3ee;
}
.hero {
  height: auto;
  /* border: 2px solid red; */
  background: #f9f3ee;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 3rem;
  gap: 8rem;
}
/* .hero-content{
  border: 2px solid black;
} */
.hero-content h3 {
  font-family: "Brush Script MT", cursive;
  font-size: 3.3rem;
  font-weight: 300;
  /* color: #a7795b; */
  color: transparent;
  background: linear-gradient(
    rgb(41, 14, 14),
    rgb(143, 91, 130),
    rgb(61, 12, 61)
  );
  -webkit-background-clip: text;
  background-clip: text;
}

.hero-content h1 {
  font-size: 4rem;
  line-height: 1.1;
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    rgb(41, 14, 14),
    rgb(143, 91, 130),
    rgb(61, 12, 61)
  );
  -webkit-background-clip: text;
  background-clip: text;
}

.hero-content .hero-text {
  height: 100%;
  margin: 1rem 0 2rem;
  max-width: 400px;
  color: #555;
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.card {
  /* border: 2px solid red; */
  background-color: #D8d1cd;
  text-align: center;
  width: 150px;
  height: auto;
  padding: 0.1rem;
  border: 3px double #f9f3ee;
  border-radius: 5rem 5rem 0 0;
}

.card img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.card h4{
  color: #273440;
  margin-top: 0.5rem;
}
.card p{
  margin: 0;
}
.card span {
  display: block;
  color: #a7795b;
  background-color: #f9f3ee;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.8rem;
  border-radius: 4rem 4rem 0 0;
  box-shadow: 0 0 20px  #c1bab8;
  margin-top: 0.7rem;
}
.hero-image{
  /* border: 2px solid black; */
  height: 100%;
  width: 100%;
  position: relative;
}
.hero-image div{
  position:absolute;
  /* border: 2px solid red; */
  width:300px;
  overflow: hidden;
}
.start-btn {
  background-color: #000;
  border: none;
  color: #f9f3ee;
  padding: 0.8rem 1.5rem;
  border-radius: 30px;
  font-size: 1.3rem;
  transition: 0.3s;
  position: absolute;
  top: 300px;
  left: -100px;
  z-index: 2;
}
#stone-img{
  top: 50px;
  left: 0px;
  width: 250px;
  z-index: 1;
}
#stone-img img{
  width: 100%;
  object-fit: cover;
}
#hand-img{
  top: 100px;
  left: 80px;
}
#hand-img img{
  width: 100%;
  object-fit: cover;
  /* border: 2px solid black; */
}
#barcode-img{
  bottom: 0px;
  left: 80px;
}
#barcode-img img{
  width: 100%;
  background-color: transparent;
  object-fit: cover;
  z-index: 2;
}
.footer-links {
  height: 100px;
  width: 100%;
  background-color: #d8d1cd;
  display: grid;
  grid-template-columns: minmax(100px, 1fr) repeat(11, 1fr);
  gap: 0.2em;
  list-style: none;
  align-items: center;
  border-top: 2px solid #c1bab8;
}

.footer-img {
  height: 30px;
  width: 30px;
}

.footer-links .footer-text {
  font-size: 0.8em;
  width: 200px;
  color: #1e2b38;
  font-weight: bolder;
}
@media (max-width: 992px) {
  .navbar {
    grid-template-columns: 1fr auto;
    padding: 1rem 1.5rem;
  }

  #nav-links {
    gap: 1rem;
  }

  .buttons {
    display: none;
  }
  .hero {
    border: 2px solid red;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 2rem;
    gap: 3rem;
  }

  .hero-content {
    border: 2px solid black;
    display: grid;
    justify-items: center;
  }

  .hero-content p {
    margin: 1rem auto 2rem;
  }
  .footer-links {
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    height: auto;
    padding: 0.5rem 1rem;
  }

  .footer-text {
    /* grid-column: span 6; */
    justify-self: center;
  }
}

@media (max-width: 768px) {
  #hamburger {
    display: block;
  }
  #nav-links.showData {
    display: grid !important;
  }
  #nav-links {
    display: none;
    position: absolute;
    background-color: #f9f3ee;
    top: 80px;
    right: 0px;
    width: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 1rem 0
  }
  #nav-links a {
    color: #273440;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s, font-size 0.3s;
  }
  #nav-links a:hover{
    border-bottom:2px solid  #273440;
  }
  #nav-links .signup {
    text-align: center;
    width: 100%;
  }
  #nav-links .divider{
    display: none;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 2rem;
    text-align: center;
  }

  .hero-content {
    display: grid;
    justify-items: center;
  }

  .hero-content h3 {
    font-size: 2rem;
  }

  .hero-content h1 {
    font-size: 2.3rem;
  }

  .hero-content p {
    margin: 1rem auto 2rem;
  }

  .products {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.8rem;
  }
  .footer-links {
    grid-template-columns: 1fr;
    text-align: center;
    height: auto;
    padding: 1rem;
  }

  .footer-text {
    /* grid-column: span 3; */
    justify-self: center;
  }
}
